.container {
    height: 350px;
    width: 300px;
    margin: 0 auto;
    border-radius: 20px;
    position:relative;
}



.image-garden{
    height: 100%;
    width: 90%;
    object-fit: cover;
    object-position: center;
    border-radius:10px;
}

.save-button {
    position:absolute;
    color:white;
    text-align:center;
    font-family: 'helvetica';
    font-size: 90% ;
    font-weight: bold;
    padding: 5px 10px;
    right:10px;
    top:10px;
    z-index:10;
    width: 50px;
    height: 30px;
    background-color:red;
    border-radius: 70px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;

    
}

.text-ellipsis {
    position:absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align:center;
    color: black;
    font-family: 'helvetica';
    font-weight: bold;
    background-color:rgb(235, 224, 224);
    border-radius: 70px;
    cursor:pointer;
    left:10px;
    bottom:10px;
    z-index:10;
    width: 160px;
    height: 40px;
    display:flex;
    justify-content:center;
    align-items:center;

    
}

.icon-share {
    position:absolute;
    background-color:rgb(235, 224, 224);
    border-radius: 50%;
    cursor:pointer;
    right:55px;
    bottom:10px;
    z-index:10;
    width: 40px;
    height: 40px;
    display:flex;
    justify-content:center;
    align-items:center;

   
}

.icon-dots {
    position:absolute;
    background-color:rgb(235, 224, 224);
    border-radius: 50%;
    cursor:pointer;
    right:10px;
    bottom:10px;
    z-index:10;
    width: 40px;
    height: 40px;
    display:flex;
    justify-content:center;
    align-items:center;

}

.overlay{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 90%;
    transition: opacity 0.45 ease-in-out;
    background: rgba(15, 15, 15, 0.479);
    cursor: pointer;
    border-radius: 10px;
    

}

.container:hover .overlay{
    opacity: 0.9;
}